// colors
$brand-color: red;
$light-grey: #e8e8e8;
$error: #cc0000;

// spacing
$space: 1rem;
$max-width: 99rem;

// fonts
$base-font-size: 1.4rem;
$font_color: #555;

// header
$header-bg: $brand-color;
$header-color: white;
